@charset "utf-8";
html, body {
    /*background-color: #E9EAE1;*/
    margin: 0;
    height: 100%;
    min-height: 500px;
    overflow: hidden;
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
}
span {
    font-family: helvetica, arial, sans-serif;
    letter-spacing: .5px;
}
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #49553F;
    /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); */
}
::-webkit-scrollbar-thumb:window-inactive {
    background: #49553F;
}
::-webkit-input-placeholder {
    text-align: center;
}
:-moz-placeholder {
    /* Firefox 18- */
    
    text-align: center;
}
::-moz-placeholder {
    /* Firefox 19+ */
    
    text-align: center;
}
:-ms-input-placeholder {
    text-align: center;
}
.center {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
}
.animate-all {
    transition: all 500ms cubic-bezier(0.2, 0.3, 0.25, 0.9);
    -webkit-transition: all 500ms cubic-bezier(0.2, 0.3, 0.25, 0.9);
    -ms-transition: all 500ms cubic-bezier(0.2, 0.3, 0.25, 0.9);
    -moz-transition: all 500ms cubic-bezier(0.2, 0.3, 0.25, 0.9);
}

#mainContainer {
    z-index: 3;
    width: 100%;
    height: 100%;
}
#container {
    z-index: 4;
    width: 1024px;
}
#navbar {
    position: absolute;
    left: 0;
    z-index: 10;
    width: 300px;
    height: 100%;
    background: rgba(48, 48, 48, 0.85);
    /*padding: 20px;*/
    color: #FFF;
    font-weight: bold;
    font-size: 2em;
}

.mainContainer-bg {
    width: 100%;
    height: 100%;
    /*background: url('../images/bg3.png') -50px -200px no-repeat;*/
    position: absolute;
    left: 0;
    top: 0;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -ms-filter: blur(5px);    
    filter: blur(8px);
}
.content-title {
    width: 100%;
    font-size: 3em;
    font-weight: bolder;
    color: #7E7E7E;
    text-align: center;
    padding: 20px 0;
}
.container-content {
    width: 100%;
    position: relative;
}
.content-box {
    z-index: 5;
    width: 100%;
    height: 100%;
    padding: 20px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: flex;
}
.content-bg-taipei {
    width: 100%;
    height: 100%;
    /*background: url('../images/bg2.jpg') -0px -0px no-repeat;*/
    background-size: 1024px;
    /*background-position: center;*/
    position: absolute;
    left: 0;
    /*-webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -ms-filter: blur(5px);    
    filter: blur(5px);*/    
}
#container-content > .map-legend {
    width: 200px;
    padding: 50px 0 0 10px;    
}
.taipei-map {
    -webkit-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
    position: relative;
}
.taipei-map > div {
    height: 100%;
    width: 100%;
    text-align: center;
    position: absolute;
}

.taipei-map > div:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em; /* Adjusts for spacing */
}

.taipei-map > div > svg, .taipei-map > div > canvas {
    vertical-align: middle;
    display: inline-block;
    /*opacity:0.5;*/
}

.details {
    width: 230px;
}
.nav-mark {
    background: rgba(48, 48, 48, 0.85);
    width: 25px;
    height: 65px;
    position: absolute;
    right: -25px;
    bottom: 80px;
    cursor: pointer;
    border-radius: 0px 15px 15px 0px;
    -moz-border-radius: 0px 15px 15px 0px;
    -webkit-border-radius: 0px 15px 15px 0px;
}
.nav-hide {
    left: -300px !important;
}
.nav-box-title {
    width: 100%;
    font-size: 22px;
    line-height: 35px;
    text-align: center;
    background: rgba(0, 0, 0, 0.26);
}
.nav-box-content {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: flex;
}
.nav-box-color {
    padding: 10px;
}
.nav-box-color > div {
    width: 20px;
    height: 20px;
}
.nav-box-sub-title {
    font-size: 20px;
    /*text-align: center;*/
    padding: 10px;
    -webkit-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
.nav-box-sub-checkbox {    
    padding: 10px 10px 10px 10px;
}
.nav-box-sub-checkbox > input {
    width: 20px;
    height: 20px;
}
.search-box {
    padding: 20px 0 20px 0;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: flex;
}
.search-box > div:nth-child(1) {
    -webkit-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
.search-box > div:nth-child(2) {
    width: 70px;
}
.search-box > div:nth-child(1) > input {
    height: 20px;
    width: 150px;
    border: 1px solid #6F6F6F;
    padding: 0px 10px 0px 10px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    border-radius: 15px;
    transition: width .20s ease-in;
    -moz-transition: width .20s ease-in;
    -webkit-transition: width .20s ease-in;
    -ms-transition: width .20s ease-in;
}
.search-box > div:nth-child(1) > input:focus {
    outline: 0;
    width: 200px;    
}
.search-box > div:nth-child(2) > input {    
    outline: 0;
    height: 22px;
    border: 1px solid #6F6F6F;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    border-radius: 15px;
}
.search-box > div:nth-child(2) > input:active {    
    background: #fff;
}


.icon-menu-white {
    background: url('../images/icon-menu-white.png') -0px -0px no-repeat;
    background-size: 15px 15px;
    background-position: center;
    width: 100%;
    height: 100%;
}

#container-content > .details > #head > #name {
    float: left;
    font-weight: 700;
    text-align: right;
    font-size: 10px;
    width: 60px;
}

#container-content > .details > #head > #digram {
    float: left;
    font-weight: 700;
    text-align: center;
    font-size: 10px;
    width: 120px;
}

#container-content > .details > #content {
    margin-top: 20px;
}

#div-svg {
    z-index: 9;
}

#search-content {
    position: absolute;
    left: 20%;
    top: 10%;
    z-index: 20;
    min-width: 60%;
		padding: 1em;
    height: 70%;
    background: rgba(0, 0, 0, 0.85);
		color: white;
		overflow:scroll;
}
#search-content table {
	width:100%;
}
#search-content th {
	color:gray;
}
#search-content td {
	text-align:center;
}

.searchDialog-enter {
  opacity: 0.01;
  transition: opacity .5s ease-in;
}

.searchDialog-enter.searchDialog-enter-active {
  opacity: 1;
}
.searchDialog-leave {
  opacity: 1;
  transition: opacity .5s ease-in;
}

.searchDialog-leave.searchDialog-leave-active {
  opacity: 0.01;
}
